/**
 * @name Animated Speaking Rings
 * @version 1.2
 * @description Adds a spinning ring to anybody speaking in a server
 * @author p0rtL
 * 
 * @source https://github.com/p0rtL6/BD-AnimatedSpeakingRings
 * @invite sRGX5VRwzQ
 */
/*
───╔═══╗─╔╗╔╗───
───║╔═╗║╔╝╚╣║───
╔══╣║║║╠╩╗╔╣║───
║╔╗║║║║║╔╣║║║─╔╗
║╚╝║╚═╝║║║╚╣╚═╝║
║╔═╩═══╩╝╚═╩═══╝
║║──────────────
╚╝──────────────
###################################################################################################
p0rtL#6592 retains the full rights to this code.
Lots of thanks to Mixter213#5731 for much help with this theme
This theme is meant to be used with a plugin to edit profile pictures, such as Edit Users by DevilBro (https://github.com/mwittrien/BetterDiscordAddons/tree/master/Plugins/EditUsers/)
#################################################################################################
*/

@import url('https://p0rtl6.github.io/BD-AnimatedSpeakingRings/src/base.css');

:root{
  --nonradialdim: 28px; /* <-- Change to 32px if you use Radial Status */
  --nonradialmar: 2px 0 0 2px; /* <-- Change to 0px if you use Radial Status */
  --gradient1:  #0575E6;
  --gradient2:  #00F260;
  --gradientangle: 45deg;
  --dmvoicebgcolor: #18191c
}
