:root{
  --gradient1:  #0575E6;
  --gradient2:  #00F260;
  --gradientangle: 45deg;
  --dmvoicebgcolor: #18191c
}

#user1 {
	position: absolute;
	z-index: 1;
	left: 300px;
	top: 220px;
	border-radius: 50%;
	width: 500px;
	height: 500px;
	background-size: 100%;
	box-shadow: inset 0 0 0 4px #3ba55c, inset 0 0 0 6px #292b2f;
}

#user2 {
	position: absolute;
	z-index: 1;
	left: 1140px;
	top: 220px;
	border-radius: 50%;
	width: 500px;
	height: 500px;
	background-size: 100%;
}

#user2top {
	position: absolute;
	z-index: 1;
	left: 1140px;
	top: 220px;
	border-radius: 50%;
	width: 500px;
	height: 500px;
	background-size: 100%;
}

#user2::before {
	position: absolute;
	content: "";
	z-index: -1;
	border-radius: 50%;
	width: 530px;
	height: 530px;
	margin: -15px 0 0 -15px;
	background: linear-gradient(var(--gradientangle), var(--gradient1) 0%, var(--gradient2) 100%);
  	animation: rotate-speaking 1s linear infinite;
}

#arrow1 {
	position: absolute;
	width: 220px;
	height: 220px;
	left: 860px;
	top: 350px;
	fill: var(--gradient1);	
}

@keyframes rotate-speaking {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
