.avatar-3tNQiO.avatarSpeaking-2IGMRN {
  box-shadow: inset 0 0 0 0px #00E663,
    inset 0 0 0 0px var(--background-secondary);
}

.voiceUser-1K6Xox .avatar-3tNQiO.avatarSpeaking-2IGMRN::before {
  content: "";
  position: absolute;
  z-index: -1;
  height: 280px;
  width: 28px;
  margin: -2px 0 0 -2px;
  border-radius: 50%;
  background: linear-gradient(var(--gradientangle), var(--gradient1) 0%, var(--gradient2) 100%);
  animation: rotate-speaking 1s linear infinite;
}


.callAvatarMask-1SLlRi {overflow:  visible;}
.callAvatarMask-1SLlRi foreignObject {overflow: visible; mask: none;}
.voiceAvatar-14IynY {z-index: 1; transform: translateZ(1px);}
/* vvv DISABLE ME IF YOU HAVE A THEME THAT CHANGES THE BACKGROUND vvv */
.status-1WEaea {border: 4px solid #18191c; margin: 0px -4px -4px 0px;}
/* ^^^ DISABLE ME IF YOU HAVE A THEME THAT CHANGES THE BACKGROUND ^^^ */
.status-1WEaea {z-index: 1; transform: translateZ(1px);}
.border-Jn5IOt.speaking-B2MXPi {box-shadow: none}
.border-Jn5IOt.speaking-B2MXPi::before {
    z-index: -1;
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    bottom: -2px;
    right: -2px;
    border-radius: 50%;
    background: linear-gradient(var(--gradientangle), var(--gradient1) 0%, var(--gradient2) 100%);
    animation: rotate-speaking 1s linear infinite;
}

@keyframes rotate-speaking {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

.avatar-3tNQiO[style*="mbotdisc"]::after {
  content: "";
  position: absolute;
  background: inherit;
  z-index: 1;
  height: 24px;
  width: 24px;
  border-radius: 50%;
}

.avatarSpeaking-2IGMRN[style*="mbotdisc"] {
  animation: rotate-speaking 1s linear infinite;
}
